/* read from: https://www.youtube.com/watch?v=xgTgOM8T2io */
.cm-header-1 { color: #f37b84; }  
.cm-header-2 { color: #ffd98c; }
.cm-header-3 { color: #9ff369; }
.cm-header-4 { color: #59d5c4; }
.cm-header-5 { color: #2a8aff; }
.cm-header-6 { color: #b99aff; }
